@import "tailwindcss";

:root {
  --neon: #42ff5a;
  --nd: rgba(66, 255, 90, 0.3);
  --ng: rgba(66, 255, 90, 0.15);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  min-height: 100%;
}